.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    margin-top: auto;
    background-color: #f8f9fa;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#cart-count {
    font-size: 0.8rem;
}